{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Tricks</h1>
    <ul>
        {% for trick in tricks %}
            <li><a href="/tricks/show/{{ tricks.id }}">{{ tricks.id }}. {{ tricks.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/tricks/add">Ajouter</a>
{% endblock %}
