{% extends 'layout.html.twig' %}

{% block content %}
    
    <h1>Clevertricks</h1>
    <p>Trucs et Astuces pour Développeurs</p>

    <label for="site-search"></label>
    <input type="search" id="site-search" name="q"
       placeholder="Rechercher sur le site…">

    <button>Go!</button></br>

    <h2>Catégories</h2>

    <button>OS</button>
    <button>Terminal</button>
    <button>IDE</button>
    <button>Git/Github</button>

    <h2>Que fait-on ici ?</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h2>Les 5 dernières astuces parues</h2>
    <ul>
        <li>astuce 1</li>
        <li>astuce 2</li>
        <li>astuce 3</li>
    </ul>
{% endblock %}

