{% extends 'layout.html.twig' %}
{% block nav %}
    <nav id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="/">Accueil</a>
        
        {% for category in categories %}
                    
        <a href="#">{{category.name}}</a> 
                        
        {% endfor %}
                
      </div>
    </nav>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
{% endblock %}
