<form method="post">
    <select name="nouvelle categorie">
        <option value="git_github">git_github</option>
        <option value="ide">Ide</option>
        <option value="os">Os</option>
        <option value="terminal">Terminal</option>
    </select>
    <label for="message">Decriver votre astuce:</label>
    <textarea id="message" name="nouvelle astuce"></textarea>
    <button type="submit" value="Valider">Soumettre votre astuce</button>
</form>