<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Clevertricks{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
    <header>
    {% block nav %}
        <nav id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="/">Accueil</a>
            
            {% for category in categories %}
                        
            <a href="#">{{category.name}}</a> 
                            
            {% endfor %}
                    
        </div>
        </nav>

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    {% endblock %}
    </header>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>

{# These javascript codes which follow are temporary, they will be reworked then added in a javascript block.#}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script src="/assets/javascript/scriptNav.js"></script>
</html>
