<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Clevertricks{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
    <header>
        {% block nav %}
        {% include 'Home/nav.html.twig' %}
        {% endblock %}
    </header>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>

{# Ces codes javascript qui suivent sont temporaires, ils seront remanié puis ajouté dans un block javascript.#}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script src="/assets/javascript/scriptNav.js"></script>
</html>
